/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: end;

}


.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;

}

.three{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;

    align-items: baseline;


}

.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    flex-basis: available;
    margin: 50px;
    padding-top: 50px;
    align-items: center;

}



.five {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-basis: 100px;
    display: inline-block;

}

.box1{
    display: inline-block;
    vertical-align: top; //also can try other align settings
    width: 45%;

}

.box2{
    flex-direction: row;
    margin-left:30px;

}

.box3{
    flex-direction: row-reverse;

}


